.header {
  max-width: 882px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.page {
  background-color: #000;
  min-width: 300px;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
}

.logo {
  padding-bottom: 40px;
  padding-top: 45px;
}

@media screen and (max-width: 945px) {
  .logo {
    margin-left: 27px;
  }
}

.profile {
  max-width: 882px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 36px;
}

.profile__avatar {
  width: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

@media screen and (max-width: 915px) {
  .profile {
    max-width: 282px;
    flex-direction: column;
  }
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../images/Edit\ Button.svg);
  background-color: #000;
  border: none;
  cursor: pointer;
}

.profile__add-button {
  border: 1px solid #fff;
  width: 150px;
  height: 50px;
  align-self: center;
  background-image: url(../images/Add\ Button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  background-color: #000;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 915px) {
  .profile__add-button {
    width: 282px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.elements {
  max-width: 882px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 47px;
}

@media screen and (max-width: 915px) {
  .elements {
    max-width: 590px;
  }
}

@media screen and (max-width: 600px) {
  .elements {
    max-width: 282px;
  }
}

.element {
  background-color: #fff;
  border-radius: 10px;
  width: 282px;
  height: 362px;
  margin-right: 18px;
  margin-bottom: 21px;
  position: relative;
}

.element:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 915px) {
  .element:nth-child(3n) {
    margin-right: 18px;
  }
  .element:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .element:nth-child(3n) {
    margin-right: 0;
  }
}

.element__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding-left: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.element__img {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

  
.element__like-button {
  margin-right: 21px;
  background-image: url(../images/Like.svg);
  background-size: contain;
  height: 18.13px;
  width: 20.76px;
  background-repeat: no-repeat;
  border: 0;
  background-color: #fff;
  cursor: pointer;
}

.element__like-button:hover {
  opacity: 0.6;
}

.element__like-button_status_active {
  background-image: url(../../../../images/like-active.svg);
}

.footer {
  max-width: 882px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 60px;
}

@media screen and (max-width: 350px) {
  .footer {
    max-width: 300px;
  }
}

.footer__copyright {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 945px) {
  .footer__copyright {
    margin-left: 19px;
  }
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}



